.mod-news .newsblock ul {
	list-style: none;
	margin: 0;
}
.mod-news .newsblock h3 {
	position: relative;
}
.mod-news .newsblock .rssicon {
	position: absolute;
	right: 0px;
}
.mod-news ul.lastnews li {
	margin-bottom: 10px;
}
.mod-news ul.lastnews a.title {
	text-decoration: none;
}
.mod-news ul.lastnews li.fullnews {
	text-align: right;
}
.mod-news ul.lastnews .date {
	font-weight: bolder;
	color:#81888F;
}
.mod-news dl.newslist dt {
	color:#81888F;
	font-size:11px;
}
.mod-news dl.newslist dt {
	margin-bottom:3px;
	padding-left:5px;
}
.mod-news dl.newslist dd {
	line-height:135%;
	margin:0 0 25px;
	padding-left: 5px;
}
.mod-news dl.newslist a.title {
	font-size: 110%;
	font-weight: bolder;
	text-decoration: none;
}